* {
  position: relative; }

html, body {
  background: #161614;
  margin: 0;
  padding: 0;
  height: 700px;
  width: 100%;
  color: #1a1a1a; }

#container1 {
  max-height: 600px;
  cursor: move; }

.dashboard {
  z-index: 1001;
  position: fixed;
  top: 30px;
  right: 30px; }
  .dashboard .year_display {
    color: #bebebe;
    font-size: 24px; }

.controller_btn {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 100%;
  z-index: 1001;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 26px; }

.controller_fixed {
  position: fixed;
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  background-color: rgba(242, 242, 242, 0.5);
  border-radius: 100%;
  z-index: 1000;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6); }
  .controller_fixed .controller_wrap {
    position: absolute;
    top: -100vh;
    padding-top: 90px;
    left: -400px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    height: 800px;
    width: 350px;
    border-radius: 5px;
    z-index: 1000;
    background-color: rgba(242, 242, 242, 0.95);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
    transition-duration: 0.5s; }
    .controller_fixed .controller_wrap .user_input_wrap {
      margin-top: 15px;
      padding: 5px;
      margin-left: 15px; }
      .controller_fixed .controller_wrap .user_input_wrap .label_row {
        display: flex;
        margin-top: 15px;
        padding: 5px; }
        .controller_fixed .controller_wrap .user_input_wrap .label_row .label_text {
          margin-right: 5px; }
      .controller_fixed .controller_wrap .user_input_wrap .input_row {
        margin-top: 10px;
        padding: 5px;
        background: transparent;
        border: 1px solid #3c3c3c;
        outline: none;
        font-size: 16px; }
      .controller_fixed .controller_wrap .user_input_wrap .simulation_btn {
        margin-top: 30px;
        background-color: mediumseagreen;
        border-radius: 15px;
        cursor: pointer;
        padding: 15px;
        width: 150px;
        color: #1a1a1a;
        font-size: 16px;
        transition-duration: 0.3s; }
  .controller_fixed .time_slider {
    width: 1000px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 200%; }
  .controller_fixed .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1150px; }
    .controller_fixed .btn_wrap .btn {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background-color: #3c3c3c;
      color: #bebebe;
      cursor: pointer; }

.hoverinfo {
  padding: 6px; }
  .hoverinfo .country_row {
    padding: 6px;
    font-size: 24px;
    font-weight: bold; }
  .hoverinfo .value_row {
    padding: 6px;
    font-size: 18px; }

.hover_text {
  opacity: 0;
  position: absolute;
  width: max-content;
  top: -30px;
  display: block;
  color: #bebebe; }

.long_hover_text {
  background-color: #fff;
  width: 200px;
  color: #1a1a1a;
  background-color: #fafafa;
  right: -200px;
  padding: 6px;
  border-radius: 5px; }

.title {
  font-size: 20px;
  font-weight: bold; }

.landing_info {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  padding: 15px 25px 25px 25px;
  z-index: 1005;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.5s; }
  .landing_info .landing_title {
    font-weight: normal; }
  .landing_info .landing_desc {
    font-size: 18px;
    line-height: 30px; }
  .landing_info .landing_confirm_btn {
    font-size: 18px;
    background-color: mediumseagreen;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px; }
    .landing_info .landing_confirm_btn:hover {
      background-color: rgba(60, 179, 113, 0.7); }

/*# sourceMappingURL=style.css.map */
