html {
  height: 100%;
}

body {
  background: #161614;
  height: inherit;
  margin: 0;
  padding: 0;
  height: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.water {
  fill: none;
}

.land {
  fill: #40403e;
  stroke: #31322d;
  stroke-width: 0.7px;
}
